@model List<WebDemoMVC.Models.ProductModels>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cart</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr id="trProduct_@item.prductID">
                    <td>@item.prductID</td>
                    <td>@item.prductName</td>
                    <td>
                        <a data-productid="@item.prductID"
                           data-productname="@item.prductName"
                           data-price="@item.donGia" onclick="AddItemToCart(this)">
                            Add to Cart
                        </a>
                    </td>
                    <td><a onclick="Product_Delete(@item.prductID)">Xóa</a></td>
                </tr>

            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {


    });
    function Product_Delete(id) {

        var result = confirm("Bạn có chắc chắn muốn xóa không?");
        if (result) {

            var param = {
                id: id
            };

            $.ajax({
                type: 'GET',
                url: "/Product/Product_Delete",
                data: param,
                dataType: "json",
                success: function (data) {

                    $("#trProduct_" + id).hide();

                    alert(data.ReturnMsg);
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });
        }
    }
</script>